<h1> Personal Information </h1>
<h2><%= @student["first_name"] %></h2>
<h2><%= @student["last_name"] %></h2>
<h2><%= @student["email"] %></h2>
<h2><%= @student["phone_number"] %></h2>
<h2><%= @student["linkedin"] %></h2>
<h2><%= @student["twitter"] %></h2>
<h2><%= @student["blog"] %></h2>
<h2><%= @student["online_resume"] %></h2>
<h2><%= @student["github"] %></h2>
<h2><%= @student["photo"] %></h2>
<h2><%= @student["short_bio"] %></h2> <a href="/students/<%= @student['id']%>/edit">Edit Your Personal Information</a>
<h1> Education </h1>

<h1> Experience </h1>
